.main-container {
  max-width: 1600px;
  margin-left: -450px;   
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #ffffff;
}

#TOC {
  position: fixed !important;
  top: 15px !important;
  left: 15px !important;       
  width: 300 !important;     
  max-height: 80vh;
  overflow-y: auto;            
  background-color: #f8f9fa;   
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  font-size: 14px;
  z-index: 1000;
}

